# Range

range() is used to create  of sequence of numbers between the start to the stop integer.

In [1]:
#create the sequence of every element from 0 to 6 (excluded) 
range(0,6)

range(0, 6)

In [2]:
#create the sequence of every 2nd element from 0 to 6 (excluded) 
range(0,6,2)

range(0, 6, 2)

In [3]:
#create the list of element from 0 to 6 (excluded) 
list(range(0,6))

[0, 1, 2, 3, 4, 5]

In [4]:
#create the list of every 2nd element from 0 to 6 (excluded) 
list(range(0,6,2))

[0, 2, 4]

In [5]:
#create the tuple of every element from 0 to 6 (excluded) 
tuple(range(0,6))

(0, 1, 2, 3, 4, 5)

In [6]:
#create the tuple of every element from 0 to 6 (excluded) 
set(range(0,6))

{0, 1, 2, 3, 4, 5}

In [7]:
#print the every element from 0 to 6(excluded) one by one
for var in range(0,6):
    print(var)

0
1
2
3
4
5

In [8]:
#create the every 2nd element from 0 to 6(excluded) on by one
for var in range(0,6,2) : 
    print(var)

0
2
4

In next lecture will cover list comprehension