# Tuple

"Tuple is an ordered collection of immutable elements".

Let's look at Tuple example-

## Create List

Tuple is defined by placing the all the elements under parentheses ( ) and separated by a comma.

In [1]:
t = (1,2,3,4,5)

print(t)

(1, 2, 3, 4, 5)

We have an option in python that tuple can hold different object type (integer, float, string etc.).

In [3]:
t = (1,1.5,'string')

print(t)

(1, 1.5, 'string')

In [4]:
# len() Calculates the length of tuple
print(len(t))

3

## Tuple Indexing

We can use the index operator [] to access an item in a tuple. Index starts from 0.

In [5]:
my_tuple=(1,2,'three','four') 
# Since, we have 4 elements in the tuple. So, the index starts from 0 to 3

print( my_tuple[0] ) # garbs the element at index 0

1

In [6]:
print( my_tuple[2] ) # garbs the element at index 2

three

In [7]:
print( my_tuple[-1] ) # garbs the last element

four

## Tuple Slicing

We can access a range of items in a tuple by using the colon.

In [9]:
my_tuple = ( 1 , 2 , 'three' , 'four' )

In [10]:
print( my_tuple[1:] ) # garbs everything from the first index

(2, 'three', 'four')

In [11]:
print( my_tuple[2:] ) # garbs everything from the second index

('three', 'four')

In [12]:
print( my_tuple[:3] ) # garbs everything from first index 0 to third index(excluded)

(1, 2, 'three')

In [13]:
print( my_tuple[:-1] ) # garbs everything from 0 index to the last index(excluded)

(1, 2, 'three')

In [14]:
print( my_tuple[1:3:2] ) # garbs every 2nd element from the 1st index to 3th index(excluded)

(2,)

In [15]:
print( my_tuple[::-1] ) #  Reverse the tuple

('four', 'three', 2, 1)

## Mutability

Tuple is immutable, the elements within it can be changed or replaced, unlike string or tuple.

In [16]:
my_list = ( 1 , 2 , 'three' , 'four' )

In [17]:
my_tuple[0] = 5

TypeError: 'tuple' object does not support item assignment

We can also use the + operator to combine/concatenate two tuples.

In [18]:
t1 = ( 1, 2, 3, 4, 5)
t2 = ( 6, 4, 7, 8, 9)
t3 = t1 + t2
print( t3 )

(1, 2, 3, 4, 5, 6, 4, 7, 8, 9)

We can also use the * operator to repeats a list for the given number of times.

In [20]:
t1= ( 1, 2, 3 )

print( t1 * 3 )

(1, 2, 3, 1, 2, 3, 1, 2, 3)

## Built-in Function

Methods that are available with tuple object in Python.

In [21]:
t = (1,1,2,2,2,3,4,5)

print(t)

(1, 1, 2, 2, 2, 3, 4, 5)

In [22]:
print(t.count(2)) # Return the occurrence of the item

3

In [23]:
t = (1,2,3,4,5,6)

print(t.index(6)) # Return the index of the item

5