# Print formatting

"The various way of presenting the output in print statements".

Let's see some example-

In [1]:
print('Welcome to Python Ninja Bootcamp ')

Welcome to Python Ninja Bootcamp

## String Formatting

We can use %s to formart the into print statement.

In [2]:
x='Students'

print('Place my variable here: %s' %(x))

Place my variable here: Students

In [3]:
# we can change the variable from x to z
z='Students'

print('Place my variable here: %s' %(z))

Place my variable here: Students

In [5]:
# we can also convert number object to string format 
z= 11.25

print('Place my variable here: %s' %(z))

Place my variable here: 11.25

## Float Formatting

We can %f to format in floating statement.

In [6]:
# In float format %n1.n2f 
# The n1 stands the Total number of digits that the String should contain
# The n2 symbolises the Total number of digits after decimalshould be displayed

print('Floating point number: %1.1f '%(11.543))

Floating point number: 11.5

In [7]:
# 1.2%f -> Two digits will be display after decimal
print('Floating point number: %1.2f '%(11.543))

Floating point number: 11.54

In [8]:
# 1.2%f -> Ten digits will display after decimal
print('Floating point number: %1.10f '%(11.543))

Floating point number: 11.5430000000

In [9]:
#1.2%f -> Three digits will be display after decimal
print('Floating point number: %1.3f '%(11.543))

Floating point number: 11.543

## Multiple formatting

In [10]:
# format objects into the multiple string formats
print('First: %s, Second: %s, Third: %s' %('hi','Tamta',5))

First: hi, Second: Tamta, Third: 5

In [11]:
# we have to define same objects multiple to assign same value in string formats 
print('First: %s, Second: %s'%(2,2))

First: 2, Second: 2

## String .format( )

The best way to format object into the string for print statements

In [12]:
# we have to define the objects once to assign same value in string formats multiple times 
print('First: {x}, Second: {x}'.format(x='Numbers'))

First: Numbers, Second: Numbers

In [13]:
# we can also add multiple number of string format statement  
print('First: {x}, Second: {x}, Third: {y}'.format(x='Numbers',y='Strings'))

First: Numbers, Second: Numbers, Third: Strings

In [14]:
# we can change the sequence of string format statement
print('First: {x}, Second: {y}, Third: {x}'.format(x='Numbers',y='Strings'))

First: Numbers, Second: Strings, Third: Numbers